@import "tailwindcss";

:root {
    --background: #fffbeb;
    --foreground: #1f1f1f;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #282a36;
        --foreground: #f8f8f2;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    @apply font-sans;
}
